.password-input-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #d1d5db; 
    padding: 0.75rem;
    border-radius: 0.375rem; 
    margin-bottom: 1rem;
    width: 346px;
    height: 18px;
  }
  
  .password-input {
    width: 100%;
    font-size: 1rem; 
    background-color: transparent;
    padding: o.1rem;
    border: none;
    outline: none;
    border-radius: 0.375rem;
  }
  
  .eye-icon-visible,
  .eye-icon-hidden {
    cursor: pointer;
    color: #7321a6; 
  }
  
  .eye-icon-hidden {
    color: #9ca3af; 
  }
  